*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.splash-container {
  background-color: #E0F7FA;
  text-align: center;
}

:root {
  --primary-color: #002E5B;
  --secondary-color: #F5F5F5;
  --accent-color: #FFD700;
  --text-color: #000;
}

button {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
}

