.seller-receiving {
  text-align: center;
  padding: 2rem;
  background-color: #fff0f0;
}

/* footer*/

.footer-links {
  margin-top: 2rem;
  background-color: #0C1A36;
  padding: 2rem;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
}

.column h4 {
  margin-bottom: 0.5rem;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column ul li {
  margin-bottom: 0.25rem;
}

.column ul li a {
  color: #fff;
  text-decoration: none;
}