.login-container {
  min-height: 100vh;
  /* background: linear-gradient(to right, #0C1A36, #283f5a); */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-card {
  background-color: #fff;
  padding: 2.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-title {
  margin-bottom: 0.5rem;
  color: #0c1a36;
  font-family: 'Lora', serif;
}

.login-subtitle {
  margin-bottom: 1.5rem;
  color: #555;
  font-size: 1rem;
}

.login-input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.login-button {
  width: 100%;
  padding: 0.8rem;
  background-color: #0e2cb2;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #170f5f;
}

.login-divider {
  margin: 1.5rem 0;
  font-size: 0.9rem;
  color: #888;
  position: relative;
}

.login-divider::before,
.login-divider::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #ccc;
}

.login-divider::before {
  left: 0;
}

.login-divider::after {
  right: 0;
}

.google-button {
  width: 100%;
  padding: 0.8rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-button:hover {
  background-color: #4968f0;
}
