.settings-container {
  max-width: 600px;
  margin: 30px auto;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.05);
}

.settings-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1e293b;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: 600;
  color: #475569;
}

input {
  padding: 10px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  font-size: 15px;
}

button {
  background-color: #3b82f6;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #2563eb;
}

/*footer*/
.footer-links {
  margin-top: 2rem;
  background-color: #0C1A36;
  padding: 2rem;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
}

.column h4 {
  margin-bottom: 0.5rem;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column ul li {
  margin-bottom: 0.25rem;
}

.column ul li a {
  color: #fff;
  text-decoration: none;
}