.profile-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background: linear-gradient(to right, #a6b2ee, #e6ffff);
    min-height: 100vh;
}

.profile-card {
  background-color: #ffffff;
  max-width: 650px;
  width: 100%;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.image-wrapper {
  position: relative;
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.upload-input {
  position: absolute;
  bottom: -8px;
  left: 0;
  cursor: pointer;
  opacity: 0.8;
  width: 80px;
}

.edit-btn {
  margin-left: auto;
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
}

.edit-btn:hover {
  background-color: #0056b3;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.detail-group {
  display: flex;
  flex-direction: column;
}

.detail-group label {
  margin-bottom: 0.4rem;
  font-weight: 600;
  color: #333;
}

.detail-group input,
.detail-group textarea {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.detail-group input:disabled,
.detail-group textarea:disabled {
  background-color: #f0f0f0;
}

.settings-section h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #007bff;
}

.settings-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.settings-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
}

.settings-list li:hover {
  background-color: #f0f8ff;
}

.delete-account {
  color: red;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.cancel-btn, .delete-btn {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.cancel-btn {
  background: #ccc;
}

.delete-btn {
  background: red;
  color: white;
}


@media screen and (max-width: 600px) {
  .profile-card {
    padding: 1rem;
  }

  .edit-btn {
    margin-top: 1rem;
    width: 100%;
    justify-content: center;
  }

  .upload-input {
    width: 80px;
  }
}
